/*------------------------------------*\
    $SITE WELCOME
\*------------------------------------*/

.site-welcome {
    min-height: 100vh;
    padding: 40px;
    background-color: #82d0d0;
    border: 30px solid #76bfbf;

    svg {
        width: 150px;
    }
}
